@charset "utf-8";

/* Formatação do body */
body{
	background-color:#c2efeb;
}

/* Formatação da DIV central */
div#main{
	display: block;
	position: relative;
	left: 200px;
	background-color: white;
	width: 950px;
	margin-top: -5px;
}
/*Formatação da logo marca*/
div#main img{
	width: 209px;
}
div#main h1{
	font-family:'Nunito', sans-serif;
	color: #0fa3b1;

}

/* Menu */
header#cabecalho{
	border-bottom: 1px #606060 solid;
	height: 0px;
}
header#cabecalho h1{
	display: block;
	position: absolute;
	top: 66px;
	left: 219px;
}
nav#menu{
	display: block;
}
nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 420px;
}
nav#menu li{
	display: inline-block;
	background-color: #0fa3b1;
	padding: 10px;
	margin: 3px;
	transition: background-color 1s;
}
nav#menu li:hover{
	background-color: #606060;
}
/* Formatação dotitulo do menu */
nav#menu h1{
	display: none;
}
/* Formatação dos links do menu */
nav#menu a{
	font-family: 'Nunito', sans-serif;
	color: black;
	text-decoration: none;
}
nav#menu a:hover{
	color: #0fa3b1;
	text-decoration: underline;
}
/* formatação da seção */
section#conteudo{
	display: block;
	width: 450px;
	float: left;
	border-right: 1px solid black;
	padding: 10px;
}

/* formatação do aside */
aside#lateral{
	display: block;
	width: 450px;
	float: right;
	padding: 10px;	
}
/* formatação dos artigos */
article{
	background-color: white;
	padding: 5px 0px 5px 10px;/*em cima, direita, embaixo e esquerda */
	margin: 10px 0px 10px 0px;/*em cima, direita, embaixo e esquerda */
}
/* formatação bordas superiores do artigo */
article.borda{
	border-top: 1px solid black
}
/* formatação dos titulos do artigo */
article h1{
	font-size: 20pt;
	color: black;
	background-color: #c2efeb;
	width: 430px;
}

/* formatação dos textos do artigo */
article p{
	font-size: 13pt;
	color: black;
	text-indent: 25px;
	font-family: 'Muli', sans-serif;
}
/* formatação de imagens lado esquerdo */
section#conteudo img{
	display: block;
	position: relative;
	left: 20px;
	width:90%;
	}
/* formatação de imagens lado direito */
aside#lateral img{
	display: block;
	position: relative;
	left: 20px;
	width:90%;
	}
/* formatação dos videos do artigo */
article video{
	display: block;
	position: relative;
	top: 10px;
	left: 20px;
	width: 90%;
	height: 350px;
}
/* formatação do rodapé */
footer#rodape{
	clear: both;
	border-top: 1px solid black;
}
footer#rodape p{
	text-align: center;
	color:#0fa3b1;
}
footer#rodape img{
	width:30px;
	position: relative;
	left: 457px;

}